@import 'libs';
@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
}
.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 46px;
}
.logo {

		// .logo__img

		&__img {
            max-width: 146px;
            max-height: 39px;
		}
}
.menu {

		// .menu__list

		&__list {
            display: flex;
		}

		// .menu__list-item

		&__list-item + &__list-item {
            margin-left: 33px;
            
		}

		// .menu__list-link

		&__list-link {
            color: $header-text;
            text-decoration: none;
            font-size: 15px;
            line-height: 12px;
            @extend %rubik-500;
            &:hover {
                text-decoration: underline;
            }
		}
}
.user-nav {
    display: flex;
		// .user-nav__link

		&__link {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            position: relative;
            transition: all .3s;
		}
        
        &__link--search {
            margin-right: 20px;
            background-color: lighten($main-btn, 20%);
            &:hover {
                background-color: darken($main-btn, 10%);
            }
            &:active {
                background-color: darken($main-btn, 20%);
            }
        }

		// .user-nav__img

		&__img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
		}

		// .user-nav__inner

		&__inner {
            display: flex;
            position: relative;
            justify-content: space-around;
            background-color: $main-bg;
            border-radius: 25px;
            min-width: 178px;
		}

        &__inner::before {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateY(-50%);
            display: block;
            width: 2px;
            height: 70%;
            background-color: #fde7d3;
        }

        &__inner &__link {
            width: 89px;
        }

        &__inner &__link:nth-of-type(2) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
        }
        &__inner &__link:nth-of-type(1) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
        }

        &__inner &__link:hover {
            background-color: darken($main-btn, 10%);
        }

        &__inner &__link:active {
            background-color: darken($main-btn, 20%);
        }

		// .user-nav__num

		&__num {
            position: absolute;
            top: 8px;
            right: 28px;
            width: 16px;
            height: 16px;
            background-color: #fff;
            color: $title-blue;
            text-align: center;
            font-size: 11px;
            line-height: 18px;
            border-radius: 50%;
            @extend %dmsans-500;
		}
        &__link--dots {
            margin-left: 20px;
            background-color: $main-btn;
            &:hover {
                background-color: darken($main-btn, 10%);
            }
            &:active {
                background-color: darken($main-btn, 20%);
            }
        }
}

.footer {
    padding-top: 76px;
}
.footer-inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 74px;
		// .footer-inner__item

		&__item {
            color: $text-footer;
            @extend %rubik-400;
            width: 25%;
		}

        &__item-form {
            padding-left: 12px;
            width: auto;
        }

		// .footer-inner__adress

		&__adress {
            display: flex;
            flex-direction: column;
            max-width: 200px;
            margin-top: 26px;
		}

        &__adress-link {
            color: $text-footer;
            font-size: 14px;
            line-height: 24px;
        }

        &__adress-link + &__adress-link {
            margin-top: 10px;
        }

        &__adress-adress {
		}

		// .footer-inner__adress-phone

		&__adress-phone {
		}

		// .footer-inner__adress-email

		&__adress-email {
		}

		// .footer-inner__title

		&__title {
            font-size: 16px;
            line-height: 21px;
            @extend %dmsans-700;
            color: $title-footer;
            margin-top: 16px;
            margin-bottom: 26px;
            text-transform: uppercase;
		}

		// .footer-inner__list

		&__list {
		}

		// .footer-inner__list-item

		&__list-item {
            margin-bottom: 20px;
		}

		// .footer-inner__list-link

		&__list-link {
            font-size: 14px;
            color: $text-footer;
		}

		// .footer-inner__text

		&__text {
            max-width: 275px;
            margin-bottom: 36px;
		}

		// .footer-inner__form

		&__form {
            display: flex;
		}

		// .footer-inner__form-input

		&__form-input {
            background-color: #fef7f0;
            color: $title-footer;
            max-width: 170px;
            padding: 12px 12px 12px 15px;
            border: none;
            outline: none;
            font-size: 12px;
            line-height: 22px;
            @extend %dmsans-400;
		}

        &__form-input::placeholder {
            color: $title-footer;
        }

		// .footer-inner__form-btn

		&__form-btn {
            padding: 12px 25px 12px 28px;
            font-size: 14px;
            line-height: 21px;
            @extend %main-btn;
            
		}
}
.footer-bottom {
    padding: 36px 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #dae4e9;
		// .footer-bottom__copy

		&__copy {
            font-size: 14px;
            @extend %rubik-400;
            color: $text-footer;
		}

		// .footer-bottom__list

		&__list {
            display: flex;
		}

		// .footer-bottom__list-item

		&__list-item {
            padding: 0 14px;
            border-right: .5px solid $text-footer;
            border-left: .5px solid $text-footer;
		}

        &__list-item:last-of-type {
            border-right: none;
		}

        &__list-item:first-of-type {
            border-left: none;
		}


		// .footer-bottom__list-link

		&__list-link {
            @extend %rubik-400;
            color: $text-footer;
            font-size: 14px;
		}

        &__list-link:hover {
            text-decoration: underline;
        }
}

.main {
}
.top-slider {
    max-width: 1770px;
    margin: 0 auto;
    background-color: $main-bg;
    background-image: url('../images/slider-bg.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 95% 20%;
		// .top-slider__inner

        &__container {
            max-width: 1300px;
            margin: 0 auto;
        }

		&__inner {
		}

		// .top-slider__item

		&__item {
            display: flex !important;
            margin: auto 0;
            padding: 220px 0 280px 100px;
            position: relative;
		}

		// .top-slider__content

		&__content {
		}

		// .top-slider__content-title

		&__content-title {
            font-size: 72px;
            line-height: 70px;
            color: $title-blue;
            @extend %rubik-500;
            max-width: 420px;
            margin-bottom: 42px;
		}

		// .top-slider__content-text

		&__content-text {
            color: $title-blue;
            @extend %rubik-400;
            font-size: 18px;
            line-height: 30px;
            margin-bottom: 42px;
		}

		// .top-slider__content-btn

		&__content-btn {
            @extend %main-btn;
            padding: 24px 20px 24px 28px;
            font-size: 15px;
            line-height: 12px;
            @extend %rubik-500;
		}

        &__content-btn svg {
            margin-left: 60px;
            fill: #fff;
        }


		// .top-slider__img

		&__img {
            position: relative;
            z-index: 20;
            margin-left: 110px;
		}
    
            &__bottom {
                background-color: #fef7f0;
                padding-top: 48px;
                padding-bottom: 48px;
            }

            &__bottom-inner {
                max-width: 1470px;
                margin: 0 auto;
                display: flex;
                justify-content: space-around;
            }
    
            // .top-slider__bottom-item
    
            &__bottom-item {
                display: flex;
                align-items: flex-start;
            }
    
            // .top-slider__bottom-img
    
            &__bottom-img {
                margin-right: 24px;
            }
    
            // .top-slider__bottom-content
    
            &__bottom-content {
            }
    
            // .top-slider__bottom-title
    
            &__bottom-title {
                @extend %dmsans-700;
                margin-bottom: 14px;
                font-size: 18px;
                color: #414141;
            }
    
            // .top-slider__bottom-text
    
            &__bottom-text {
                @extend %dmsans-400;
                max-width: 200px;
                font-size: 16px;
                line-height: 30px;
                color: #585858;
            }
    



}
.slick-slide:focus {
    outline: none;
}

.slick-dots {
    display: flex;
    position: absolute;
    bottom: 44px;
    left: 50%;
    font-size: 11px;
    line-height: 9px;
    transform: translateX(-50%);
    li {
        button {
            width: 30px;
            height: 30px;
            background-color: #fde3cc;
            border-radius: 50%;
            border: none;
            outline: none;
            cursor: pointer;
            margin-right: 12px;
            color: $title-blue;
            @extend %rubik-400;
        }
        &.slick-active button{
            background-color: #fff;
            border-radius: 50%;
        }
    }
}

.trend-products {
    background-color: #f9f9f9;
    padding-top: 75px;
    padding-bottom: 85px;
    text-align: center;
    // .trend-products__title

    &__wrapper {
        max-width: 1170px;
        margin: 0 auto;
    }

    &__title {
        margin-bottom: 38px;
    }

    // .trend-products__panel

    &__panel {
        margin-bottom: 82px;
    }

    // .trend-products__panel-link

    &__panel-link {
        border: none;
        outline: none;
        color: $text-gray;
        background-color: transparent;
        @extend %dmsans-700;
        cursor: pointer;
    }

    &__panel-link + &__panel-link {
        margin-left: 10px;
    }

    .mixitup-control-active {
        color: $title-black;
    }

    // .trend-products__inner

    &__inner {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
    }

    // .trend-products__item

    &__item {
        background-color: #fff;
        width: 270px;
        height: 380px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-repeat: no-repeat;
        background-position: center 54px;
        background-size: auto;
        position: relative;
    }

    &__item--hover {
        display: none;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__item--hover svg {
        fill: $main-btn;
    }

    &__item:hover &__item--hover {
        display: flex;
    }

    &__item-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        background-color: #fff;
        border-radius: 50%;
        transition: all .2s;
        box-shadow: 0 0 10px #8b8b8b;
    }

    &__item-link + &__item-link {
        margin-left: 16px;
    }

    &__item-link:hover {
        background-color: $main-btn;
    }

    &__item-link:active {
        background-color: darken($main-btn, 20%);
    }

    &__item-link:hover svg {
        fill: #fff;
    }

    // .trend-products__item-link

    &__item-link {
    }

    // .trend-products__item-title

    &__item-title {
        @extend %dmsans-700;
        color: #000;
        color: $title-blue;
        margin-bottom: 18px;
    }

    // .trend-products__item-price

    &__item-price {
        display: block;
        @extend %dmsans-700;
        color: $main-btn;
        margin-bottom: 38px;
    }

		// .trend-products__wrapper

		&__special {
            display: flex;
            justify-content: space-between;
            margin-top: 184px;
		}

		// .trend-products__special-item

		&__special-item {
            background-color: #feefe2;
            max-width: 870px;
            height: 390px;
            display: flex;
            position: relative;
            width: 50%;
		}

        &__special-item + &__special-item {
            margin-left: 30px;
        }
		// .trend-products__special-img

		&__special-img {
            // margin-left: 140px;
            position: absolute;
            top: -25%;
            left: 10%;
		}

		// .trend-products__special-content

		&__special-content {
            margin-left: 325px;
            text-align: left;
            margin-top: 100px;
            color: $title-blue;
            margin-right: 10px;
		}

		// .trend-products__special-title

		&__special-title {
            @extend %dmsans-700;
            font-size: 26px;
            margin-bottom: 32px;
            max-width: 250px;
		}

		// .trend-products__special-text

		&__special-text {
            @extend %rubik-400;
            line-height: 30px;
            max-width: 346px;
            margin-bottom: 38px;
		}

		// .trend-products__special-link

		&__special-link {
            display: inline-block;
            color: $title-blue;
            @extend %rubik-400;
            font-size: 15px;
            line-height: 12px;
            padding: 20px;
            border: 1px solid #b3b7b5;
            border-radius: 5px;
            transition: all .1s;
		}

        &__special-link:hover {
            box-shadow: 0 0 10px #b3b7b5;
        }

        &__special-link:active {
            box-shadow: 0 0 15px #b3b7b5;
        }

        &__special-link svg {
            margin-left: 46px;
        }

}

.new-products {
    background-color: #fff;
    text-align: center;

    &__title {
        margin-bottom: 36px;
    }

    // .new-products__inner

    &__new-products__panel {
        margin-bottom: 80px;
    }

    &__inner {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        max-width: 1170px;
        margin: 0 auto;
        margin-bottom: 120px;
    }

    // .trend-products__item

    &__item {
        background-color: #f8f8f8;
        width: 370px;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        background-repeat: no-repeat;
        background-position: center right;
        background-size: auto;
        position: relative;
        padding-left: 36px;
        padding-top: 42px;
        text-align: left;
    }

    &__item-title {
        @extend %dmsans-700;
        color: #000;
        color: $title-blue;
        margin-bottom: 18px;
        max-width: 162px;
    }

    // .trend-products__item-price

    &__item-subtitle {
        display: block;
        @extend %dmsans-700;
        color: $main-btn;
        margin-bottom: 38px;
    }

    .mixitup-control-active {
        color: $title-black;
    }

    &__video-inner {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 500px;
        position: relative;
    }

    &__video-btn {
        width: 125px;
        height: 125px;
        position: absolute;
        background-color: transparent;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        cursor: pointer;
        border: 15px solid transparent;
        outline: none;
        box-sizing: border-box;
        transition: all .2s;
    }

    &__video-btn:active svg {
        transform: scale(1.1);
    }

    &__video-btn-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $main-btn;
        width: 96px;
        height: 96px;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }

    &__video-btn:hover {
        border: 15px solid rgba(163, 187, 200, .2);
    }

    &__video-btn:active {
        border: 15px solid rgba(163, 187, 200, .4);
    }

    &__video-btn svg {
        fill: #fff;
        transition: all .2s;
    }
}

.blog {
    background-image: url('../images/blog-bg.jpg');
    background-repeat: no-repeat;
    background-position: bottom center;
    padding: 120px 0 85px;
    // .blog__inner

    &__inner {
        max-width: 1170px;
        margin: 0 auto;
        @extend %dmsans-700;
    }

    // .blog__top

    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 55px;
        align-items: center;
    }

    // .blog__title

    &__title {
        font-size: 36px;
    }

    // .blog__link

    &__link {
        font-size: 16px;
        color: $text-black;
    }

    &__link:hover {
        text-decoration: underline;
        }

    &__link svg {
        margin-left: 20px;
    }

    // .blog__items

    &__items {
        display: flex;
        justify-content: space-between;
    }

      

    // .blog__item

    &__item {
        background-color: #fff;
        max-width: 370px;
        width: 100%;
        border-radius: 8px;
        padding-bottom: 26px;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    }

    // .blog__item-img-box

    &__item-img-box {
        position: relative;
        margin-bottom: 36px;
    }

    // .blog__item-img

    &__item-img {
        width: inherit;
        object-fit: cover;
    }

    // .blog__item-label

    &__item-label {
        padding: 10px 30px;
        border-radius: 35px;
        background-color: $main-btn;
        @extend %poppins-700;
        color: #fff;
        font-size: 14px;
        position: absolute;
        bottom: -16px;
        left: 30px;
    }

    &__item-content {
        width: 315px;
        border-bottom: 1px solid #e0e0e0;
        margin: 0 auto;
    }

    // .blog__item-title

    &__item-title {
        color: $text-black;
        font-size: 18px;
        padding-bottom: 17px;
        max-width: 300px;

        a {
            color: inherit;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    // .blog__item-bottom

    &__item-bottom {
        width: 315px;
        margin: 0 auto;
        padding-top: 22px;
        @extend %rubik-400;
        font-size: 12px;
    }

    // .blog__item-date

    &__item-date {
        color: inherit;
    }

    // .blog__item-author

    &__item-author {
        color: inherit;
        margin-left: 44px;
    }
    
    &__item-date:hover,
    &__item-author:hover {
        text-decoration: underline;
    }
}

.brands {
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding-top: 90px;

    &__img {
        width: 100%;
        height: 100%;
    }
}

.login {
		// .login__top

		&__top {
            background-color: #edf1f4;
            min-height: 124px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column
		}

		// .login__title

		&__title {
            @extend %myriad-300;
            margin-bottom: 10px;
		}

		// .login__form

		&__form {
            display: flex;
            flex-direction: column;
            padding: 120px 0 120px;
            max-width: 476px;
            margin: 0 auto;
            color: $header-text;
            @extend %rubik-400;
		}

		// .login__form-label

		&__form-label {
            margin-bottom: 30px;
		}

		// .login__form-input

		&__form-input {
            margin-top: 15px;
            display: block;
            width: 100%;
            height: 56px;
            border: 2px solid #f6f6f6;
            padding: 0 15px;
		}

		// .login__form-btn-login

		&__form-btn-login {
            color: #fff;
            background-color: $main-btn;
            border: none;
            height: 60px;
            cursor: pointer;
            outline: none;
            transition: all .2s;

            &:hover {
                background-color: darken($main-btn, 10%);
            }
            &:active {
                background-color: darken($main-btn, 20%);
            }
		}

		// .login__form-password-lost

		&__form-password-lost {
            display: flex;
            justify-content: space-between;
            padding: 34px 0 31px;
            color: #436372;
		}

        &__form-checkbox {
            width: 14px;
            height: 14px;
            border-radius: 3px;
            background-color: #ebebeb;
            cursor: pointer;
        }

		// .login__form-password-lost-link

		&__form-password-lost-link {
            color: inherit;
		}

		// .login__form-text

		&__form-text {
            text-align: center;
            font-size: 14px;
            margin-bottom: 26px;
            color: #436372;
		}

		// .login__form-signup

		&__form-signup {
            width: 100%;
            height: 56px;
            text-align: center;
            background-color: #fff;
            color: $title-blue;
            border: 3px solid $main-btn;
            line-height: 50px;
            font-size: 18px;
            @extend %rubik-500;
            font-weight: 700;
            transition: all .2s;

            &:hover {
                background-color: $title-blue;
                color: #fff;
                border: 3px solid $title-blue;
            }

            &:active {
                background-color: $title-blue;
                color: #fff;
                box-shadow: 0 0 10px $title-blue;
                border: 3px solid $title-blue;
            }
		}
}
.breadcrumbs {

		// .breadcrumbs__list

		&__list {
            display: flex;
		}

		// .breadcrumbs__item

		&__item {
            margin: 0 10px;
            position: relative;
            @extend %rubik-400;
            color: #9a9ea2;
		}

        &__item:before {
            content: '/';
            position: absolute;
            top: 0;
            left: -13px;
		}

        &__item:first-of-type::before {
            display: none;
        }

		// .breadcrumbs__link

		&__link {
            color: inherit;
            font-size: 14px;

		}
}










@import 'media';